body{
    overflow-x: hidden;
}

.labelDatos {
    font-size: 1.5rem;

}

.formulario {
    display: flex;
    align-items: center;
    justify-content: center;

}

.pedidos-ingresados {

    margin: 4rem 15% 4rem 15%;
    width: auto;
    padding: 2em;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    border-radius: 3em;
    border: solid rgba(220, 53, 69, 0.2) 1px;
    background: #efefef;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}





.fondo_ingresados{
    height: 20rem;
}
.tarjeta{
    display: inline-block;
    width: 18rem;
    margin: 1em;
}
.btn-iniciar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4em;

}
.btn-iniciar button{
   width: 15em;
    font-size: 1.5rem;
}

.lista{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
    overflow-y: auto;
    height: 500px;
    max-height: 500px;
    border-radius: 20px;
    border: solid rgba(220, 53, 69, 0.2) 1px;

}

.lista img{
    height: 20rem;
}

.itemsFila{
    margin: 2em;
}

.item-proce{

    padding: 1em;
    margin-bottom: 1em;

    background-color: #ff5e5e;
    color: #ffffff;
    border-radius: 10px;


}
.tabla{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.tabla img{
    height: 300px;
    margin-top: 10%;

}
.item-ent{
    padding: 1em;
    margin-bottom: 1em;
    background-color: #719866;
    color: white;
    border-radius: 10px;
}
.datos{
    font-size: 1.2rem;
}
footer{
    margin-top: 7em;
}